<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <title>Wireguard Config Generator</title>
</head>

<body>
  <section class="section">
    <div id="app" class="container">
      <div class="columns">
        <div class="column">
          <h2 class="title">Wireguard Config Generator</h2>
          <article class="panel">
            <button class="button" v-on:click="updateclients">Go</button>
            <table class="table">
              <tr>
                <td>Server: <input type="text" v-model="server"></td>
                <td>Port: <input type="number" v-model="port"></td>
              </tr>
              <tr>
                <td>Network: <input type="text" v-model="network"><br>1stClientIP: <input type="number" v-model="startip" size="2"></td>
                <td>Clients: <input type="number" v-model="clientcount" size="3"></td>
              </tr>
              <tr>
                <td>ServerPrivateKey: <input type="text" v-model="serverkeys.privateKey"></td>
                <td>ServerPublicKey: <input type="text" v-model="serverkeys.publicKey"></td>
              </tr>
            </table>
          </article>
          <article class="panel">
            <p class="panel-heading">Server config {{ server }}:{{ port }}</p>
            <p class="panel-block" >
              <code>
                <span v-on:click="select">
                [Interface]<br>
                Address = {{ network }}.1/24<br>
                # Server: {{ server }}, Port: {{ port }}<br>
                ListenPort = {{ port }}<br>
                PrivateKey = {{ serverkeys.privateKey }}<br>
                # PublicKey = {{ serverkeys.publicKey }}<br>
                <span v-for="(value, client) in clients"><br>
                # {{ value.name }}<br>
                [Peer]<br>
                PublicKey = {{ value.publicKey }}<br>
                AllowedIPs = {{ network }}.{{ client }}/32<br>
                </span>
                </span>
                </code>
            </p>
          </article>
        </div>
        <div class="column">
          <article class="panel">
            <p class="panel-heading">Client names</p>
            <p class="panel-block">
              <input v-for="(value, client) in clients" v-model="value.name">
            </p>
          </article>
          <article class="panel">
            <p class="panel-heading">Client configs (first ip: {{network}}.{{startip}}, count: {{ clientcount }})</p>
            <p class="panel-block" >
              <code>
                <span v-on:click="select" v-for="(value, client) in clients">
                ## {{ value.name }}<br>
                [Interface]<br>
                Address = {{ network }}.{{ client }}/24<br>
                PrivateKey = {{ value.privateKey }}<br>
                [Peer]<br>
                PublicKey = {{ serverkeys.publicKey }}<br>
                AllowedIPs = {{ network }}.1/24<br>
                Endpoint = {{ server }}:{{ port }}<br><br>
                </span>
              </code>
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="wireguard.js"></script>
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          server: "somedomain.com",
          port: 51820,
          network: "172.17.172",
          startip: 2,
          clientcount: 3,
          clients: {},
          serverkeys: wireguard.generateKeypair()
        };
      },
      methods: {
        select(event) {
          r = document.createRange(); r.selectNode(event.target.closest("span"));
          s = window.getSelection(); s.removeAllRanges(); s.addRange(r);
        },
        updateclients(event) {
          console.log("hi")
          this.clients = this.makeclients;
        }
      },
      computed: {
        makeclients() {
          var c = {};
          for (client in [...Array(Math.floor(this.clientcount)).keys()]) {
            finaloctet = Math.floor(client) + Math.floor(this.startip);
            c[finaloctet] = wireguard.generateKeypair();
            c[finaloctet].name = "Client " + finaloctet;
          }
          return c
        }
      }
    });
  </script>
</body>

</html>
